# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Shifty Squares.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\UnityProjects\Pratice\MyGames\Shifty Squares\.idea\.idea.Shifty Squares\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
